<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Basic Suite">
<listeners>

<listener class-name="org.listners.TetListners"/>



</listeners>


  <test name="Basics">
    <classes>
      <class name="org.TestJava.testNGPract1"/>
      <class name="org.TestJava.TestNGPractice"/>
    </classes>
  </test> <!-- Basics -->
</suite> <!-- Basic Suite -->
